@font-face {
	font-family: MuseoSlab500;
	src: url(../fonts/Museo_Slab_500-webfont.woff);
}

a.button {
	font-family: 'Helvetica', arial, serif;
	font-size:30px;
	color:#000;
	text-decoration:none;
	display:block;
	width:478px;
	padding:10px;
	border:1px solid #DDD;
	text-align:center;

	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	-o-border-radius:5px;
	border-radius:5px;

	background:#FFFFFF;
	background:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#FFFFFF), to(#EEE));
	background:-moz-linear-gradient(0% 90% 90deg, #EEE, #FFF);

	-webkit-transition: all .4s ease-in-out;
	-moz-transition: all .4s ease-in-out;
	-o-transition: all .4s ease-in-out;
	transition: all .4s ease-in-out;
}
a.button:hover {
	color:#fff;
	border-color:#3278BE;
	background:#4195DD;
	background:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#4195DD), to(#003C82));
	background:-moz-linear-gradient(0% 90% 90deg, #003C82, #4195DD);
}
a.button:active {
	background:#4195DD;
	background: linear-gradient(top, #376475 0%,#417282 100%); /* W3C */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#376475), color-stop(100%,#417282)); /* Chrome,Safari4+ */
}

a.button.notransitions {
	-webkit-transition: none;
	-moz-transition: none;
	-o-transition: none;
	transition: none;
}

body {
	color: #fff;
}

.header-backing {
	position: absolute;
	background: url(../img/header-halftone.png) repeat-x;
	-webkit-transform:rotate(-2.8deg);
	transform: rotate(-2.8deg);
	transform-origin: top center;
	-webkit-transform-origin: top center;
	z-index: 0;
	top:0;
	left:0;
	right:0;
	bottom:0;
}

header #logo-image {
	position: absolute;
	bottom:20px;
	left:20px;
	z-index: 1;
}

header {
	background: linear-gradient(top, #376475 0%,#417282 100%); /* W3C */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#376475), color-stop(100%,#417282)); /* Chrome,Safari4+ */
	position: relative;
	text-align:center;
	padding:70px;
	z-index: 1;
	/*background: #417282;*/
}

header #title {
	position: relative;
	margin: auto;
	z-index:1;
	width:55%;
}

header #title h1 {
	z-index: 1;
	font-family: 'MuseoSlab500', Helvetica, Arial, sans-serif;
	font-size: 28px;
	line-height: 35px;
	position: relative;
	text-shadow: 0px 1px 0px #111;
	padding: 0px 0px 5px 0px;
}

header #title h1 span {
	font-weight:bold;
}

#game-running, #game-finished, #game-start {
	text-align:center;
}

.guess-input {
	height:74px;
	font-size:60px;
	padding:5px;
	width:40%;
	text-align:center;
	height:85px;
}

#game-start {
	padding-top:3Opx;
}

#content {
	position: relative;
	z-index:2;
	padding: 20px;
	color: #000;
	background: #fff;
}